---
// src/components/NavbarSwitcher.astro
import NavbarPaper from './Navbar-paper.astro';
import NavbarYouer from './Navbar-youer.astro';

const { pathname } = Astro.url;

let SelectedNavbar;

if (pathname.startsWith('/youer')) {
  SelectedNavbar = NavbarYouer;
} else if (pathname.startsWith('/paper')) {
  SelectedNavbar = NavbarPaper;
} else {
  SelectedNavbar = null; // 或一個預設 Navbar
}
---
{SelectedNavbar ? (
  <SelectedNavbar />
) : (
  <header data-bs-theme="dark">   {/* 至頂項目欄 */}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">幽影櫻與元的MC伺服器</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
              {/* <li class="nav-item"><a class={`nav-link ${pathname === '/youer/' ? 'active' : ''}`} href={`/youer/`}>Home</a></li>
              <li class="nav-item"><a class={`nav-link ${pathname === '/youer/mods/' ? 'active' : ''}`} href={`/youer/mods/`}>模組列表</a></li>
              <li class="nav-item"><a class={`nav-link ${pathname === '/youer/commands/' ? 'active' : ''}`} href={`/youer/commands/`}>常用指令</a></li>
              <li class="nav-item"><a class={`nav-link ${pathname === '/youer/joinserver/' ? 'active' : ''}`} href={`/youer/joinserver/`}>如何進入</a></li> */}
          </ul>

          {/* 右側下拉選單 */}
          {/* <ul class="navbar-nav mb-2 mb-md-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fw-bold bg-warning text-dark rounded px-3 py-2 fs-5" href="#" id="dropdownMenuLink"
                 role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 伺服器列表
              </a>

              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href={`/paper/`}>paper伺服器</a></li>
                  <li><a class="dropdown-item" href={`/youer/`}>youer伺服器</a></li>
              </ul>
            </li>
          </ul> */}
        </div>
      </div>
    </nav>
  </header>
)}
