---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import ToTop from '../components/ToTop.astro';

// Import all of Bootstrap’s CSS
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-icons/font/bootstrap-icons.css';

---
<!doctype html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content={Astro.generator} />
    <title>幽影櫻與元的MC伺服器</title>

    <style is:global>

        /* navbar-top-fixed.css */
        body {
            min-height: 75rem;
            padding-top: 46px !important;
        }
        .block {
            margin: auto; /*置中*/
            /* opacity: 0.6;  刪掉這行 */
            margin-bottom: 20px;
            width: 90%;  /*大小*/
            background-color: rgba(253, 254, 255, 0.6); /* 顏色帶透明度 */
            padding: 20px;  /*邊框留空*/
            box-shadow: 0px 0px 20px gray;  /*陰影*/
            border-radius: 20px;  /*圓滑*/
        }

        body {
          position: relative;
          margin: 0;
          padding: 0;
          background-image: url('/462566447_1268581647755628_3097208111781003104_n.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          background-attachment: fixed;
          z-index: 0;
        }

        body::before {
          content: "";
          position: fixed;  /* fixed 固定覆蓋整個視窗 */
          top: 0; left: 0; right: 0; bottom: 0;
          background-color: rgba(255, 255, 255, 0.5); /* 白色半透明遮罩，可調整透明度 */
          z-index: -1;  /* 讓遮罩在背景和內容之間 */
        }
    </style>

</head>
<body>
    <Navbar />

    <!-- 主要內容區 -->
    <slot />

    <Footer />
    <ToTop />
    <script>
        import 'bootstrap/dist/js/bootstrap.bundle.min.js';
    </script>
</body>
</html>
